body {
	background: url("http://gph.to/1K0lKVE");
  background-size: cover;
 }

h1 {
  color:rgba(71, 51, 216, 0.82);
  font-size:50px;
  font-weight:700;
	text-align:center;
	margin: 5% auto;
}
#empties {
  width: 600px;
  height: 300px;
  text-align: center;
  margin: 5% auto;
  background-color: rgba(58, 132, 32, 0.13);
  border-radius: 54px;
}
.box1, .box2, .box3, .box4, .box5 {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 100px;
  border-radius: 26%;
	margin-top: 25px;
}
/**********       hover and at click even styles        **************/
.clicker1:hover, .box1.red {
	background-color: red;
	}
.clicker2:hover, .box2.orange {
	background-color: orange;
	}
.clicker3:hover, .box3.yellow {
	background-color: yellow;
	}
.clicker4:hover, .box4.green {
	background-color: green;
	}
.clicker5:hover, .box5.blue {
	background-color: blue;
	}
/***********************************************************************/
#controllers {
  width: 600px;
  height: 115px;
  text-align: center;
  margin: 5% auto;
  background-color: rgba(77, 157, 168, 0.15);
  border-radius: 54px;
}
.clicker1, .clicker2, .clicker3, .clicker4, .clicker5 {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 25px;
  border-radius: 26%;
	margin-top: 5px;
}
