body {
	/*background: url("https://38.media.tumblr.com/2d610d17b254143e71710267fccedbaf/tumblr_mrnjflHcKE1qdsh8vo1_500.gif");*/
	background: url("http://i.imgur.com/3t6Hu8a.gif");
	/*background: url("http://data3.whicdn.com/images/56538378/large.jpg");*/
  background-size: cover;
  background-position: cover;
  background-color: rgb(225, 218, 186);



.title {
  color:rgba(88, 12, 18, 0.7);
  font-size:50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
}
